include ./_icons.jade

footer#footer.footer
  a.scroll-top(data-scroll)
    +icon-angle-up
  .container-flex
    .col-4
      h4.footer__title.title.title__underlined OTA 
        span YHTEYTTÄ
      .footer__column-content
        p.text-orange Mansen Asfaltti
        p PL 112
        p 33101
        p Tampere
        p Puh. 040-7565901
        p 
          a(href="mailto:info@mansenasfaltti.fi") info@mansenasfaltti.fi
        
    .col-4
      h4.footer__title.title.title__underlined.footer__title--only-bold
        span PALVELUMME
      .footer__column-content
        p
          a(href="/asfaltointi") Asfaltointityöt
        p
          a(href="kivetys-laatoitus") Kivetys- ja laatoitustyöt
        p
          a(href="/maanrakennus") Maanrakennustyöt
        p 
          a(href="/vesieristys") Vesieristystyöt
                      
    .col-2
      h4.footer__title.title.title__underlined
        span Partnerimme
      .footer__partners
        .footer__partner.footer__partner--1
        .footer__partner.footer__partner--2
        .footer__partner.footer__partner--3
        .footer__partner.footer__partner--4
        .footer__partner.footer__partner--5
        //- .footer__partner.footer__partner--6
  
  .footer__bottom
    .container      
      span &copy; 
      a(href="/") Mansen Asfaltti 2016
      //- | &nbsp;| 
      //- a(href="#") Nutzungsbedingungen
      //- | &nbsp;| 
      //- a(href="#") Datenschutz
      //- | &nbsp;| 
      //- a(href="#") Impressum
      
