mixin icon-calendar
  svg.icon.icon-icon-calendar
    use(xlink:href="/img/icons/symbol-defs.svg#icon-icon-calendar")
mixin icon-name
  svg.icon.icon-icon-name
    use(xlink:href="/img/icons/symbol-defs.svg#icon-icon-name")
mixin icon-map
  svg.icon.icon-icon-map
    use(xlink:href="/img/icons/symbol-defs.svg#icon-icon-map")
mixin icon-twi
  svg.icon.icon-twitter
    use(xlink:href="/img/icons/symbol-defs.svg#icon-twitter")
mixin icon-linkedin
  svg.icon.icon-linkedin
    use(xlink:href="/img/icons/symbol-defs.svg#icon-linkedin")
mixin icon-fb
  svg.icon.icon-facebook
    use(xlink:href="/img/icons/symbol-defs.svg#icon-facebook")
mixin icon-gear
  svg.icon.icon-gear
    use(xlink:href="/img/icons/symbol-defs.svg#icon-gear")
mixin icon-note
  svg.icon.icon-note
    use(xlink:href="/img/icons/symbol-defs.svg#icon-note")
mixin icon-search-fancy
  svg.icon.icon-search-fancy
    use(xlink:href="/img/icons/symbol-defs.svg#icon-search-fancy")
mixin icon-star
  svg.icon.icon-star
    use(xlink:href="/img/icons/symbol-defs.svg#icon-star")
mixin icon-search
  svg.icon.icon-search
    use(xlink:href="/img/icons/symbol-defs.svg#icon-search")
mixin icon-angle-left
  svg.icon.icon-angle-left
    use(xlink:href="/img/icons/symbol-defs.svg#icon-angle-left")
mixin icon-angle-right
  svg.icon.icon-angle-right
    use(xlink:href="/img/icons/symbol-defs.svg#icon-angle-right")
mixin icon-angle-up
  svg.icon.icon-angle-up
    use(xlink:href="/img/icons/symbol-defs.svg#icon-angle-up")
