extends layout

block content
  include ./_icons.jade
  include ./_header.jade
  
  #main.about-us
    section.section__banner.about-us__banner
    
    section.section
      .container-flex
        h1.title.title__underlined.text-center.about-us__title Mansen
          span Asfaltti
        
        .col-2.about-us__top-image
        
        .col-2
          h2.title.text-orange.article__title Yrityksemme
          
          p.
            Mansen Asfaltti Oy on manselainen perheyritys. Tavoitteenamme on toimittaa asiakkaalle virheetön, kerralla oikein tehty tuote. 
            Ammattitaitoinen henkilökuntamme sekä nykyaikainen kalustomme takaavat korkean laadun ja parhaan lopputuloksen. 
            
          p. 
            Toimimme joka suhteessa tilaajan ja yhteiskunnan meille asettamien vaatimusten mukaisesti. 
            Työntekijöidemme turvallisuus on meille erittäin tärkeää.
            Toimitusajat sovimme tilaajan kanssa tapauskohtaisesti tilaajan toivomuksen mukaan
          //- P.
          //-   labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam 
          //-   et justo duo dolores et ea rebum. Stet clita kasd gubergren. sed diam nonumy 
          //-   eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam volup-
          //-   tua. At vero eos et accusam et justo.
    
    section.section__gray.about-us__achivments
      .container-flex
        .col-4--flex
          .about-us__achivment
            span 200
            p tilausta
        .col-4--flex
          .about-us__achivment
            span 35
            p asiakasta
        .col-4--flex
          .about-us__achivment
            span 315
            p km asfaltoitua tietä
        .col-4--flex
          .about-us__achivment
            span 7500
            p laattaa laitettuna
    //- section.section.about-us__steps
    //-   .container-flex
    //-     .col-2--flex
    //-       .about-us__icon 
    //-         +icon-search-fancy
    //-       .about-us__step
    //-         h3.title.text-orange ANALIZING
    //-         p.
    //-           abore et dolore magna aliquyam erat, sed diam voluptua. At vero 
    //-           eos et accusam et justo duo dolores et ea rebum. Stet clita kasd 
    //-           gubergren. no sea takimata. 
    //-     .col-2--flex
    //-       .about-us__icon
    //-         +icon-gear
    //-       .about-us__step
    //-         h3.title.text-orange EFFICIENCY
    //-         p.
    //-           abore et dolore magna aliquyam erat, sed diam voluptua. At vero 
    //-           eos et accusam et justo duo dolores et ea rebum. Stet clita kasd 
    //-           gubergren. no sea takimata. 
    //-     .col-2--flex
    //-       .about-us__icon
    //-         +icon-note
    //-       .about-us__step
    //-         h3.title.text-orange PLANNING
    //-         p.
    //-           abore et dolore magna aliquyam erat, sed diam voluptua. At vero 
    //-           eos et accusam et justo duo dolores et ea rebum. Stet clita kasd 
    //-           gubergren. no sea takimata. 
    //-     .col-2--flex
    //-       .about-us__icon
    //-         +icon-star
    //-       .about-us__step
    //-         h3.title.text-orange BENEFITS
    //-         p.
    //-           abore et dolore magna aliquyam erat, sed diam voluptua. At vero 
    //-           eos et accusam et justo duo dolores et ea rebum. Stet clita kasd 
    //-           gubergren. no sea takimata. 
    //- section.section__gray.about-us__additional
    //-   .container-flex
    //-     .col-3
    //-       .about-us__img--1.about-us__img
    //-       h3.title.text-orange.text-center Lorem ipsum dolor
    //-       p.text-center Lorem ipsum dolor sit amet, conse tetur sa-dipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et.
    //-     .col-3
    //-       .about-us__img--2.about-us__img
    //-       h3.title.text-orange.text-center Lorem ipsum dolor
    //-       p.text-center Lorem ipsum dolor sit amet, conse tetur sa-dipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et.
    //-     .col-3
    //-       .about-us__img--3.about-us__img
    //-       h3.title.text-orange.text-center Lorem ipsum dolor
    //-       p.text-center Lorem ipsum dolor sit amet, conse tetur sa-dipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et.
    //- section.section.text-center.about-us__story
    //-   .container
    //-     h2.title.title__underlined.text-center OUR
    //-       span Story 
    //-     
    //-     p. 
    //-       labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren. no sea takimata sanctus est 
    //-       Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed 
    //-       diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
  include ./_footer.jade
